.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  padding-left: 200px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  width: 100%;
}

.navbar-logo h1 {
  display: inline;
  font-size: 40px;
  margin: 0;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-logo {
  cursor: pointer;
}
